html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item {
  height: 50vh;
  width: 50vw;
}