* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #1e1e1e;
  user-select: none;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: inherit;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #1e1e1e;
  margin: auto;
  padding: 1%;
  width: fit-content;
}

#header-bar {
  background-color: #252526;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  flex-direction: row-reverse;
}

#widget-grid {
  gap: 1em;
  padding: 1em;
  flex-grow: 1;
  overflow: auto;
  display: grid;
}

.grid-item {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #252526;
  overflow: auto;
  border: 1px solid white;
}

.occupied-slot {
  background-color: black;
  text-align: center;
}

.bookmark-list {
  list-style-type: none;
}
.bookmark-folder-text {
  cursor: pointer;
}

.hidden {
  display: none;
}
.active {
  display: block;
}

.control-button {
  float: right;
}
.control-button:hover,
.control-button:focus {
  cursor: pointer;
}

#side-bar {
  height: 100vh;
  flex: none;
  display: flex;
  z-index: 1;
}

#widget-toolbox {
  height: 100%;
  flex-grow: 1;
  background-color: black;
  display: none;
  flex-flow: column;
}
#widget-toolbox.active {
  display: flex;
  width: 10em;
}

.widget {
  height: 8em;
  width: 8em;
  margin: 1em;
  background-color: #252526;
  text-align: center;
  border: 1px solid white;
}
.widget:hover,
.widget:focus {
  cursor: pointer;
}

#side-button {
  float: right;
  height: 100%;
  width: 1em;
  background-color: black;
  opacity: 0.5;
  color: white;
  display: flex;
  align-items: center;
}
#side-button:hover,
#side-button:focus {
  cursor: pointer;
}