* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  user-select: none;
  color: white;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #1e1e1e;
  margin: auto;
  padding: 1em;
  width: 50%;
}

#header-bar {
  background-color: #252526;
}

#widget-grid {
  width: 100%;
  height: 100%;
  gap: 1em;
  padding: 1em;
  flex-grow: 1;
  display: grid;
}

.grid-item {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #252526;
  overflow: auto;
  /* padding: 0;
  margin: 0; */
}

.bookmark-list {
  list-style-type: none;
}

.bookmark-folder {
  /* cursor: pointer; */
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.control-button {
  float: right;
}
.control-button:hover,
.control-button:focus {
  cursor: pointer;
}